*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding: 0;
}

header{
    width: 100%;
    height: 40vh;
    background-color: #16161a;
}

section{
    min-height: 55vh;
}

p{
    font-weight: bold;
    font-size: 18px;  
}

h1{
    margin-bottom: 20px;
    color: #fffffe
}


.add-container,
.tarefas {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

input[type="text"]{
    height: 23px;
    width: 200px;
    border: none;
}

#add{
    height: 23px;
    border: none;
    padding: 2px;
    background-color: #7f5af0;
    color: #fffffe;
}

#add:hover{
    cursor: pointer;
    background-color: rgb(96, 57, 254);
}

.tarefas {
    top: -95px;
    width: 450px;
    display: none;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 14px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.container-tarefa {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 3px solid #010101;
}

#btnExcluir,
.btnFeito{
    padding: 10px;
    align-self: center;
    background-color: rgb(241, 68, 68);
    color: white;
    border: none;
}

.btnFeito{
    background-color: #2cb67d;
}


#btnExcluir:hover , .btnFeito:hover{
    cursor: pointer;
}

.feito{
    background-color: #7f5af0;
    color: rgb(160, 160, 160)
}

#tarefa-info{
    max-width: 250px;
    word-wrap: break-word;
}

.btnFeitoClicado{
    background-color: #72757e;
}

.displayFlex{
    display:flex;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: #16161a;
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: #7f5af0;
    margin-left: 5px;
}


@media (max-width: 412px) {

    header{
        height: 40vh;
    }

    .tarefas{
        max-width: 85%;
        top: -180px;
    }

    .container-tarefa{
        max-width: 100%;
    }

    #tarefa-info{
        max-width: 50%;
    }
}